:root{
    --very-dark-blue: hsl(233, 47%, 7%);
    --dark-blue: hsl(244, 38%, 16%);
    --violet:hsl(277, 64%, 61%);
    --white: hsl(0, 0%, 100%);
    --main-paragraph: hsla(0, 0%, 100%, 0.75);
    --stat-headings: hsla(0, 0%, 100%, 0.6);
    --font-inter: 'Inter',
    sans-serif;
    --font-lexend: 'Lexend Deca',
    sans-serif;

}

body{
    font-family: var(--font-lexend);
    font-size: 12px;
    background-color: var(--very-dark-blue);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border-radius: 12px;
    background-color: var(--dark-blue);
}


.container img{
    width: 100%;
    height: 200px;
    object-fit: fill;
    border-radius: 12PX 12px 0 0;
    filter: invert(24%) sepia(18%) saturate(1500%) hue-rotate(232deg) brightness(45%) contrast(110%);
}


.title{
    font-family: var(--font-inter);
    font-size: 28px;
    padding: 0px 12px 0px 12px;
    margin-bottom: 0;
}

.highlight{
    color: var(--violet);
}

p {
    padding: 12px 40px 0px 40px;
    margin-top: 0;
    color: var(--main-paragraph);
    line-height: 24px;
}

.stat-container{
    display: flex;
    flex-direction: column;
   justify-items: center;
}

.stat {
    padding: 12px;
    color: var(--stat-headings);
    text-transform: uppercase;
    font-size: 12px;
}
.stat span {
    display: block;
    color: var(--white);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 4px;
}

@media (min-width:900px) {
    .container {
        flex-direction: row-reverse;
        grid-template-rows: 1fr 1fr auto;
        align-items: center;
        align-content: center;
        width: 900px;
        height: 350px;
    }

    .container section{
        padding: 64px;
        text-align: start;
    }

    .container img {
        width: 450px;
        height: 350px;
        object-fit: cover;
        border-radius: 0PX 12px 12px 0;
        content: url('./images/image-header-desktop.jpg');
        
    }

    .title{
        margin: 0;
        padding-right: 36px;
    }

    .stat-container {
        flex-direction: row;
    }

    p{
        text-align: start;
        padding-left: 12px;
    }
}


